@{ 
   
    var tituloNomeApp = "OrderServi";
    var tituloPagina = string.IsNullOrEmpty(ViewBag.Title) ? tituloNomeApp : $"{ViewBag.Title} - {tituloNomeApp}";
}
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@tituloPagina</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index", "Home")" class="navbar-brand">
                    <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                    @tituloNomeApp
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Clientes", "Index", "Clientes")</li>
                    <li>@Html.ActionLink("Serviços", "Index", "Servicos")</li>
                    <li>@Html.ActionLink("Usuários", "Index", "Usuarios")</li>
                    <li>@Html.ActionLink("Ordens Serviços", "Index", "OredensServicos")</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                            Usuário: <b>@ViewBag.NomeUsuario</b> <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Perfil", ConstsWeb.AcaoDetalhes, new { controller = "Usuarios", id = ViewBag.IdUsuario })</li>
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("Sair", "LogOff", "Home")</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="card">
            @RenderBody()
        </div>
    <footer>
        <p>&copy; @DateTime.Now.Year - Order-Servi</p>
    </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
