@{ 
    IEnumerable<string> erros = ViewBag.MensagensErros ?? new string[0];
    IEnumerable<string> sucessos = ViewBag.MensagensSucessos ?? new string[0];
}
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Meu Aplicativo ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Gerenciador de Serviços", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Início", "Index", "Home")</li>
                    <li>@Html.ActionLink("Clientes", "Index", "Clientes")</li>
                    <li>@Html.ActionLink("Servicos", "Index", "Servicos")</li>
                    <li>@Html.ActionLink("Usuarios", "Index", "Usuarios")</li>
                    <li>@Html.ActionLink("Oredens Serviços", "Index", "OredensServicos")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @if (erros.Any() || sucessos.Any())
        {
            <div style="margin-bottom:10px">
                @if (sucessos.Any())
                {
                    <div class="alert alert-success" role="alert" runat="server" id="divAlertaSucesso" visible="false">
                        @sucessos.Aggregate((a, b) => $"{a}, {b}")
                    </div>
                }
                @if (erros.Any())
                {
                    <div class="alert alert-danger" role="alert" runat="server" id="divAlertaDanger" visible="false">
                        @erros.Aggregate((a, b) => $"{a}, {b}")
                    </div>
                }
                
            </div>
        }

        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Meu Aplicativo ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
