@model IEnumerable<Trabalho_2_MVC.Dominio.Entidades.Servico>

@{
    ViewBag.Title = "Listagem";
}

<h2>Listagem</h2>

@Html.Partial("~/Views/Shared/Partial/_ToolbarGrid.cshtml")
<table class="table table-bordered table-striped">
    <tr>
        <th style="width: 146px;">Ação</th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValorUnitario)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.Partial("~/Views/Shared/Partial/_AcoesGrid.cshtml", item)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorUnitario)
            </td>
        </tr>
    }

</table>
