@model Trabalho_2_MVC.Dominio.Entidades.OrdemServico


@{
    ViewBag.Title = "Detalhe";
}

<h2>Detalhe</h2>


<div>
    <h4>OrdemServico</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cliente.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Servico.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Servico.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.NomeCompleto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.NomeCompleto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Unitario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unitario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataAbertura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataAbertura)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(ConstsWeb.DescricaoAcaoEditar, ConstsWeb.AcaoEditar, new { id = Model.Id }) |
    @Html.ActionLink(ConstsWeb.DescricaoVoltarListagem, "Index")
</p>
