@model Trabalho_2_MVC.Dominio.Entidades.OrdemServico
@using Trabalho_2_MVC.Dominio.Infra.Extensoes

@{
    ViewBag.Title = "Detalhe";
}

<h2>Detalhe</h2>


<div>
    <h4>Ordem de serviço</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Clinete
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.Nome)
        </dd>

        <dt>
            Serviço
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Servico.Nome)
        </dd>

        <dt>
            Usuario
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.NomeCompleto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Unitario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unitario)
        </dd>

        <dt>
            Data de Abertura
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataAbertura)
        </dd>

        <dt>
            Valor Total
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorTotal)
        </dd>

        <dt>
            Tipo Pagamento
        </dt>

        <dd>
            @Model.Pagamento.FormaPagamento.Tipo.GetEnumDescription()
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(ConstsWeb.DescricaoAcaoEditar, ConstsWeb.AcaoEditar, new { id = Model.Id }) |
    @Html.ActionLink(ConstsWeb.DescricaoVoltarListagem, "Index")
</p>
