@model IEnumerable<Trabalho_2_MVC.Dominio.Entidades.OrdemServico>

@{
    ViewBag.Title = "Listagem";
}

<h2>Listagem</h2>

@Html.Partial("~/Views/Shared/Partial/_ToolbarGrid.cshtml")
<table class="table table-bordered table-striped">
    <tr>
        <th>
            Clinete
        </th>
        <th>
            Serviço
        </th>
        <th>
            Usuario
        </th>
        <th>
            Data de Abertura
        </th>
        <th>
            Valor Total
        </th>
        <th style="width: 146px;" >Ação</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Servico.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.NomeCompleto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataAbertura)
            </td>
            <td>
                @item.ValorTotal
            </td>
            <td>
                @Html.Partial("~/Views/Shared/Partial/_AcoesGrid.cshtml", item)
            </td>
        </tr>
    }

</table>
