@model Trabalho_2_MVC.Dominio.Entidades.Usuario

@{
    ViewBag.Title = "Deletar";
}

<h2>Deletar</h2>

<h3>Deseja deletar?</h3>
<div>
    <h4>Usuário</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomeCompleto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeCompleto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Login)
        </dd>


    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Deletar" class="btn btn-default" /> |
            @Html.ActionLink(ConstsWeb.DescricaoVoltarListagem, "Index")
        </div>
    }
</div>
