@model Trabalho_2_MVC.Dominio.Entidades.Usuario

@{
    ViewBag.Title = "Detalhe";
}

<h2>Detalhe</h2>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomeCompleto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeCompleto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Login)
        </dd>


    </dl>
</div>
@Html.Partial("~/Views/Shared/Partial/_AcoesDetalhes.cshtml", Model)