@model IEnumerable<Trabalho_2_MVC.Dominio.Entidades.Usuario>

@{
    ViewBag.Title = "Listagem";
}

<h2>Listagem</h2>

@Html.Partial("~/Views/Shared/Partial/_ToolbarGrid.cshtml")
<table class="table table-bordered table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomeCompleto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Login)
        </th>
        <th style="width: 146px;" >Ação</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeCompleto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Login)
            </td>
            <td>
                @Html.Partial("~/Views/Shared/Partial/_AcoesGrid.cshtml", item)
            </td>
        </tr>
    }

</table>
